{% extends "main/parent.html" %} 
{% load static %}

{% block content %}


<div class="container mx-auto p-3">
    
  <div class="border border-0 shadow-sm mt-3 p-2">
    <p style="font-size:20px;"><b><u>About Monky:</u></b></p>
    
    <p class="lh-sm align-baseline text-body-secondary ">
      Monky, the ultimate online college directory and communication platform designed to connect students and teachers seamlessly. With this, students and teachers can easily find and interact with each other via chat, creating a vibrant profiles according to their preferences. 
    </p>

    <p class="lh-1 align-baseline text-body-secondary">
     <b> Real-Time Messaging:</b> Engage in real-time conversations through our intuitive chat interface. 
    </p>

    <p class="lh-1 align-baseline  text-body-secondary">
     <b> User Profiles:</b> Each user a personalized profile showcasing their academic background, interests, college, courses and areas of expertise. Dive into detailed profiles to gain insights into fellow peers or instructors.
    </p>
    
    <p class="lh-1 align-baseline  text-body-secondary">
     <b> User-Friendly Search:</b> Navigate through our extensive directory effortlessly, with search filters allowing users to find specific students or teachers based on criteria such as college ,courses, or username.
    </p>
    <p class="lh-1 align-baseline  text-body-secondary">
      <b>Online Status Indicator:</b> Monky allows you to see who's currently active and available for communication. you'll have a clear indication of when it's the right time to reach out and engage in conversation.
    </p>

    
  </div>

  <div class="card mt-3">
    <div class="card-body">
    <p class="lh align-baseline  text-body-secondary" style="font-size:12px;">
      Hi, my name is ankit sharma i'm a BCA final year student of GGDSD college,palwal. I developed this website as my final year project. I know website has lack of features and the User interface is also not as good. but i made this website, so that i nailed it my skills regarding software development. I developed this website by using python programming language and with some other technologies as well. And If you find it enjoyable, so have fun and share it with others.
    </p>

    </div>
 
  </div>

  
  </div>




{% endblock content %}
