{% extends 'main/parent.html' %}
{% load static %}

{% block password %}

<style>

.errorlist{
    list-style-type: none;
    font-size: 10px;
    color:red;
}
</style>

<div class="container mx-auto p-3">
        
    <div class="h4 pb-2 mb-4 text-secondary border-bottom border-secondary">
        Change Password 
    </div>
    {% if msg %}
        {{msg}}
    {% endif %}

    <form action="" method="post" novalidate>
        {% csrf_token %}
        
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p>{{error}}</p>
        {% endfor %}
        {% endif %} 
        
        {% for fm in form %}
        <div>
            {{fm.label_tag}} {{fm}} <span class="errorlist">{{fm.errors |striptags}}</span>
        </div>
        {% endfor %}
        <input type="submit" value="save" class="btn btn-outline-dark" style="float:right;margin-top:25px;">
    </form>
   


   
</div>



{% endblock password %}