{% extends "main/parent.html" %}
{% load static %}
{% block navbar %}{% endblock navbar %}

{% block password %}
    <div class="container mx-auto p-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                
                <h1 class="text-body-secondary">Password reset complete</h1>
                <hr>
                <p>Your new password has been set. You can log in now on the <a href=" {% url 'LogInPage' %}">log in page</a>.</p>
              
            </div>
        </div>
    </div>




{% endblock password %}



{% comment %}                      
    {% block title %}Password reset complete{% endblock %}

    {% block content %}
    <h1>Password reset complete</h1>
    <p>Your new password has been set. You can log in now on the <a href=" {% url 'login' %}">log in page</a>.</p>
    {% endblock %}
 {% endcomment %}